/* FORMATAGE DU TITRE DANS DASHBOARD....... DROITE*/
.dropdown{
font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
 font-weight: normal;
        font-size: 1.2em;
 letter-spacing: .2em;
 line-height: 2.1em; /* la hauteur */
 margin:0px;
 text-align: center;
 /*text-transform: uppercase;*/
}

/*la hauteur des fluipages pour ne pas avoir de double ascenseurs à cause du menu*/
.myRow1{height:900px;}

/* FORMATAGE DU TITRE DANS DASHBOARD....... GAUCHE*/
.main-header .logo{
font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
 font-weight: normal;
        font-size: 1.2em;
 letter-spacing: .2em;
 line-height: 2.1em; /* la hauteur */
 margin:0px;
 text-align: center;
 /*	text-transform: uppercase;*/
}


li{
    margin-left:10px;
}

 p{
        font-family: 'Lobster', cursive;
        line-height: 1;
        color: #EE0000;
        font-size:12px;
      }